<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}
    <h2>Close Loan</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Check & Close Loan</button>
    </form>

    {% if form.is_bound %}
        {% if form.errors %}
        <div class="error">
            {{ form.errors }}
        </div>
        {% else %}
        {% if form.cleaned_data.loan.remaining_loan == 0 %}
            <form method="post" action="{% url 'close_loan' account_number=account_number %}">
            {% csrf_token %}
            <button type="submit" name="close">Close Loan</button>
            </form>
        {% else %}
            <p class="error">Cannot close the loan. Remaining balance must be zero.</p>
        {% endif %}
        {% endif %}
    {% endif %}
    {% endblock %}

</body>
</html>