<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <link rel="website icon" type="png" href="/static/images/icon.jpg">
</head>
<body>
    <h1>Edit Account</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="account_number" value="{{ account_number }}">
        {{ form.as_p }}
        <button type="submit" name="save_changes">Save Changes</button>
    </form>
    
</body>
</html>
