{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="website icon" type="png" href="/static/images/icon.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wlcm">
        <h1 style="text-align: center; color: #fff;">THE UNIQUE BANK</h1>
    </div>

    <div class="wrapper">
        <form method="POST">
            {% csrf_token %}
            <h1 class="man">Manager Login</h1>

            <div class="inputbox">
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>
            
            <div class="inputbox">
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>
